body {
    font-family: Arial;
    color: #303846;
    font-size: 16px;
    /* background-color: beige; */
    margin: 0 auto;
}


/* Header part */

.header {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0px;
}

.logo {
    display: flex;
    flex-basis: 10%;
    justify-content: space-evenly;
}

.logo-pic {
    width: 20px;
}

.navbar {
    display: flex;
    flex-basis: 25%;
    justify-content: space-evenly;
}

.navbar ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.navbar a {
    text-decoration: none;
    color: #303846;
}

h1 {
    margin: 0;
}


/* End Header part */


/* Body part */

.logo-pic-body {
    width: 100px;
}

.headline {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 300px;
    background: url("banner.png");
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;
    justify-content: center;
    color: white;
}

.btn {
    width: 100px;
    height: 30px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
}


/* End Body part */


/* Main content */

.container {
    display: flex;
    justify-content: center;
}

.container-main {
    display: flex;
    flex-direction: column;
    width: 1000px;
}


/* Section 2 */

.section-advantages {
    display: flex;
    justify-content: space-evenly;
    height: 350px;
    align-items: center;
    flex-basis: 100%;
    ;
}

.advantage {
    flex-basis: 15%;
}

.section-about {
    display: flex;
    justify-content: center;
    height: 350px;
    flex-basis: 70%;
    align-items: center;
}

.section-about-wraper {
    display: flex;
    flex-basis: 100%;
    background-color: #f7f7f7;
    justify-content: center;
}

.about {
    width: 50%;
    margin-right: 5%;
}

.about-image {
    width: 20%;
}

.about-image img {
    width: 200px;
}


/* Section 3 */

.section-place-for-the-rest-wraper {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
}

.section-place-for-the-rest {
    display: flex;
    height: 350px;
    align-items: center;
    justify-content: center;
    flex-basis: 70%;
}

.place-for-the-rest {
    width: 50%;
    margin-left: 5%;
}

.place-for-the-rest-image {
    width: 20%;
}

.place-for-the-rest-image img {
    width: 200px;
}


/* Section form */


/* .form-bnt {
    width: 100px;
    height: 30px;
    background-color: transparent;
    border-color: turquoise;
    color: turquoise;
    border-style: solid;
    border-radius: 5px;
}

.field_set {
    border-color: turquoise;
    border-style: solid;
}

.legend-text {
    color: turquoise;
} */


/* End Main content */


/* Footer */

.footer-container {
    margin-top: 2%;
    display: flex;
    background-color: #303846;
    height: 200px;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}

.footer-element-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* End Footer */